<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.rancherosoftware.NetNewsWire</string>
	<key>CFBundleExecutable</key>
	<string>quill-netnewswire</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 Brent Simmons and Ranchero Software</string>
	<key>AppGroup</key>
	<string>group.com.ranchero.NetNewsWire</string>
	<key>SUFeedURL</key>
	<string>https://netnewswire.com/appcast.xml</string>
	<key>FeedURLForTestBuilds</key>
	<string>https://netnewswire.com/test-appcast.xml</string>
</dict>
</plist>
